@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: darkgrey;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps; /* transforma em letras maiúsculas */
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh; /* se o tamanho da viewport diminuir, o espaçamento também vai diminuir */
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.802);
    color: white;
}

section.imagem > p{
    background-color: rgba(70, 70, 70, 0.211);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}
